/* line 6, ../sass/main.sass */
body {
  font-family: "Myriad Pro", "Roboto Condensed", sans-serif;
  background: black;
  color: white;
}

/* line 11, ../sass/main.sass */
.container {
  background: url(../img/stardust.jpg) center top no-repeat;
  width: 100%;
}

/* line 15, ../sass/main.sass */
.page-wrap {
  width: 952px;
  margin: 0 auto;
}

/* line 19, ../sass/main.sass */
header {
  background: url(../img/header.jpg) no-repeat;
  width: 952px;
  height: 330px;
}

/* line 24, ../sass/main.sass */
.page-body {
  margin-top: -70px;
}

/* line 27, ../sass/main.sass */
footer {
  padding-top: 230px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  color: #dddddd;
  text-align: center;
  background: url(../img/footer.jpg) center top no-repeat;
  clear: both;
}

/* line 36, ../sass/main.sass */
.content {
  margin: 0 10px 0 77px;
  width: 585px;
  float: left;
  line-height: 23px;
}
/* line 42, ../sass/main.sass */
.content > p:first-child {
  margin-top: 0;
}

/* line 45, ../sass/main.sass */
nav {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  width: 257px;
  float: left;
  text-align: center;
  margin-top: -2px;
}
/* line 54, ../sass/main.sass */
nav a {
  color: white;
  display: block;
}
/* line 57, ../sass/main.sass */
nav a:hover {
  color: #ffcd55;
  text-decoration: none;
}
/* line 64, ../sass/main.sass */
nav .active a {
  color: #ffcd55;
}
/* line 68, ../sass/main.sass */
nav ul {
  list-style-type: none;
  margin-top: 0;
}
/* line 72, ../sass/main.sass */
nav li {
  margin-bottom: 30px;
  padding: 5px 0;
  text-transform: uppercase;
}
/* line 77, ../sass/main.sass */
nav li:first-child {
  padding-top: 0px;
}

/* line 81, ../sass/main.sass */
.logos {
  list-style: none;
  margin-left: 20px;
  margin-top: 40px;
}
/* line 85, ../sass/main.sass */
.logos li {
  float: left;
  margin-right: 10px;
  margin-bottom: 50px;
}

/* line 91, ../sass/main.sass */
a {
  color: #ffcd55;
  text-decoration: none;
}
/* line 96, ../sass/main.sass */
a:hover {
  text-decoration: underline;
}

/* line 99, ../sass/main.sass */
h1 {
  margin-top: 0px;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 105, ../sass/main.sass */
h2 {
  margin-top: 0px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 111, ../sass/main.sass */
.social {
  text-align: center;
  padding-left: 37px;
  margin-bottom: 100px;
}

/* line 115, ../sass/main.sass */
.social a {
  display: inline-block;
}
/* line 117, ../sass/main.sass */
.social a:first-child {
  margin-right: 8px;
}
